.nav-link:focus, .nav-link:hover{
    color: white;
}
.background-image{
    background-image: url(pic/5711485_393.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.nav-link{
    color: white;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    color: var(--bs-nav-pills-link-active-color);
    background-color: #f05200;
}
.massive-head{
    text-align: center;
}
.mass{
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 5px;
    color: white;
}
.studios h1{
    font-size: 70px;
    font-weight: 700px;
    color: #f05200;
}
.hiring-btn{
    color: white;
    background: #f05200;
}
.about h1{
    font-size: 100px;
    font-weight: 700;
    color: white;
}
.us h1{
    font-size: 100px;
    font-weight: 700;
    color: #f05200;
}

.massive h1{
    font-size: 100px;
    font-weight: 700;
    color: white;
}
.careers h1{
    font-size: 100px;
    font-weight: 700;
    color: #f05200;
}
.massive-careers-txt span{
    color: #f05200;
}
.form-control{
    background: transparent;
}
.dropdown-toggle{
    background: white;
    color: black;
}
.card-title{
    color: #f05200;
}
.card-link{
    color: #f05200;
}
.ftr ul li{
 list-style-type: none;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active{
    color: var(--bs-btn-active-color);
    background-color: #f05200;
    border-color: var(--bs-btn-active-border-color);
}
@media screen and (max-width: 768px) {
    .mass{
        font-size: 50px;
        font-weight: 700;
        letter-spacing: 5px;
        color: white;
    }
    .studios h1{
        font-size: 35px;
        font-weight: 700px;
        color: #f05200;
    }
    .about h1{
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    .us h1{
        font-size: 50px;
        font-weight: 700;
        color: #f05200;
    }
    .massive h1{
        font-size: 50px;
        font-weight: 700;
        color: white;
    }
    .careers h1{
        font-size: 50px;
        font-weight: 700;
        color: #f05200;
    }
}

@media screen and (max-width:320px) {
    .mass{
        font-size: 40px;
        font-weight: 700;
        letter-spacing: 5px;
        color: white;
    }
    .studios h1{
        font-size: 25px;
        font-weight: 700px;
        color: #f05200;
    }
    .about h1{
        font-size: 40px;
        font-weight: 700;
        color: white;
    }
    .us h1{
        font-size: 40px;
        font-weight: 700;
        color: #f05200;
    }
    .massive h1{
        font-size: 40px;
        font-weight: 700;
        color: white;
    }
    .careers h1{
        font-size: 40px;
        font-weight: 700;
        color: #f05200;
    }
}